<spring:beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 

	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    ">
	<spring:bean id="xe-datasource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<spring:property name="driverClassName"
			value="oracle.jdbc.driver.OracleDriver" />
		<spring:property name="url"
			value="jdbc:oracle:thin:@localhost:1521/xe" />
		<spring:property name="username" value="HR" />
		<spring:property name="password" value="hr" />
		<spring:property name="initialSize" value="10" />
		<spring:property name="maxTotal" value="25" />
		<spring:property name="maxOpenPreparedStatements" value="10" />
	</spring:bean>
</spring:beans>
